@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Uomo Expanded";
  src: url("./css-assets/Uomo Expanded.otf") format("opentype");
}

@font-face {
  font-family: "Uomo Expanded Bold";
  src: url("./css-assets/Uomo Expanded Bold.otf") format("opentype");
}
